* {
    box-sizing: border-box;
}

:root{
    --dark-bg-color: linear-gradient(180deg, rgba(2, 0, 36, 0.40) 0%, rgba(9, 9, 121, 0.35) 50%, rgba(149, 0, 255, 0.90) 100%);
    --dark-primary: rgb(50, 35, 100);
    --dark-primary-transparent: rgba(50, 35, 100, 0.3);
    --dark-secondary: #DCD0F6;
}


body{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #1E1E1E 0%, #1E1E1E 100%),var(--dark-bg-color);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:var(--dark-secondary)
}

.card{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; 
    padding: 29px 28px 21px 33px;
    border-radius: 25px;
    border: 1px solid #DCD0F6;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    max-width:625px;
}

@media screen and (max-width: 750px) {
    .card{
        flex-direction: column-reverse;
        max-width: 350px;
       padding: 15px;
    }
}

.bar {
    background: var(--dark-primary);
    color: white;
    width: 60px;
    min-width: 60px;
    border-radius: 20px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) {

    h1{
        margin:0px;
    }

    .bar {
        width: 100%;
        min-width: auto;
        padding: 8px 10px;
        border-radius: 16px;
        margin:10px 0px;
    }
}

.bar .title {
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.9px;
    text-transform: uppercase;
}
@media screen and (max-width: 750px) {
    .bar .title {
        transform: rotate(0deg);
        font-size: 25px;
    }
}
.main-content {
    flex: 1;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 750px) {
    .main-content {
        padding-left: 0px;
    }
}

.top{
    display:flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid var(--dark-primary);
    padding-bottom:10px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    width:100%;
}

.personal-info{
    border-bottom: 2px solid var(--dark-primary);
    padding-bottom:5px;
    margin-bottom:8px;
}

@media screen and (max-width: 750px) {
    .personal-info{
        border-bottom: 0px;
    }
}

.info-item {
    display: flex;
    flex-direction: row;
}

h2 {
    color: var(--dark-primary);
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    margin:0px;
    margin-right:20px;
}

@media screen and (max-width: 750px) {
    .info-item{
        flex-direction: column;
        font-size:14px;
       
    }
    .info-item h2{
        padding: 10px 0px;
    }

    h2 {
        font-size:14px;
        margin-right:10px;
    }
}

.profile-pic{
    border-radius: 15px;
    width: 185px;
    height: 168px;
}

@media screen and (max-width: 750px) {
    .profile-pic{
        width: 50%;
        height: auto;
    }
}

.preferences{
    display: flex;
    flex-direction: row;

}

.preferences.mobile{
    display:none;
}

.preferences .likes,
.preferences .dislikes {
    width: 45%;
}

.answers{
    font-size: 14px;
    margin: 0px;
  
}

@media screen and (max-width: 750px) {
    .preferences.desktop{
        display:none;
    }

    .preferences.mobile{
        display:block; 
        border-bottom: 2px solid var(--dark-primary);
        padding:10px 0px;

    }

    .answers{
        /* padding:0px 10px; */
        font-size: 14px;
    }
    h2 {
        font-size: 16px;
    }

    .preferences .likes , .preferences .dislikes{
        display: flex;
        flex-direction: row;
        align-items: end;
        width:100%;
        font-size: 14px;
    }
}

p {
    margin:5px 0px;
}

@media screen and (max-width: 750px) {
 p {
    font-size:14px;
 }
    
}

.skill-items{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.skill-item {
    font-weight: 800;
    font-size: 16px;
    color:var(--dark-primary);
    background-color: var(--dark-primary-transparent);
    padding:5px 15px;
    border: 2px solid var(--dark-primary);
    border-radius: 10px;
    margin-right:6px;
}

@media screen and (max-width: 750px) {
 .skill-item {
    font-size:14px;
 }
    
}

.language{
    padding:5px 5px;
    background-color: transparent;
    display: flex; 
    align-items: center;
}

.html{
    border: 2px solid #FC490B;
}

.css{
    border:2px solid #2196F3;
}

.js{
    border:2px solid #FFDF00;
}